@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    text-decoration: none;
    letter-spacing: 0!important;
    
 }

body {
    font-family:"Open Sans", sans-serif;
    font-family:"Netflix Sans",Helvetica,Helvetica,Arial,sans-serif;
}

/* BANNER WRAP SECTION */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    height: 45px;
    margin: 0 60px;
    padding-top: 45px;
}

.navbar > img{
    height: 36px;
}
.navbar > a{
    padding:9px 15px ;
    color: white;
    background: red;
    text-decoration: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
}
.banner-wrap {
    z-index:1 ;
    background: url(./assets/backround.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position: relative;
    height: 100vh;
    border-bottom: 8px solid rgb(34, 34, 34);
}
.overlay{
    z-index:-1;
    height: 100%;
    width: 100%;
    background: black;
    position:absolute;
    opacity: 60%;
    top: 0;
    
}



.banner-container {
    color: white;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100% - 45px);
   
}
.banner-container h1 {
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    font-weight: 600;
    padding-bottom: 15px;
}

.banner-container h2 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 40px;
}

.emailFORMtitle {
    font-size:18px;
    font-weight: 500;
    padding-bottom: 20px;
}
.getStartedForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.getStartedForm input{
    align-items: center;
    height:65px;
    width: 450px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
}
.getStartedForm button {
    align-items: center;
     background-color: red;
     color: white;
     height: 65px;
     width: 190px;
     border: none;
     border-left: 1px solid ;
     font-size: 25px;
     cursor: pointer;
}
/* BANNER WRAP ENDS */

/* FIRST SECTION */
.first {
    background: black;
    color: white;
    position: relative;
    padding: 70px 45px;
    border-bottom: 8px solid rgb(34, 34, 34);
}
.info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.info{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
}
.info h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 8px;
}
.info p{
    font-size: 25px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 6.5px;
}

.tv-container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.tv-container >img{
    z-index: 1;
    width: 600px;
    height: 400px;
}

.tv-container >video{
    position: absolute;
}
/* FIRST SECTION ENDS */

/* SECOND START */
.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background:black;
    color: white;
    padding: 70px 45px;
    border-bottom: 8px solid rgb(34, 34, 34);
}

.imagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.main-pic img {
    height: 380px;
    position: relative;
}
.sml-block {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 2px solid rgb(65, 64, 64);
    background-color: black;
    border-radius: 12px;
    width:305px;
    height: 90px;
    position: absolute;
    bottom: 100px;
    left: 150px;
}
.sml-pic {
    display: flex;
    align-items: center;
}
.sml-pic img {
    height: 72px;
    margin-right: 15px;
}
.move-pic img {
    height: 48px;
}
.word-nxt2-pic{
    padding: 5px 0px;

}
.word-nxt2-pic p{
    font-size: 14px;
    font-weight: 600;
}
.word-nxt2-pic span{
    font-size: 14px;
    font-weight: 600;
    color: blue;
}
.nation {
    margin-left:40px ;
    margin-right: 80px;
}



/* SECOND END */

/* THIRD START */
.third {
    background: black;
    color: white;
    position: relative;
    padding: 70px 45px;
    border-bottom: 8px solid rgb(34, 34, 34);
}
.thrice {
    padding-left: 20px;

}
/* THIRD ENDS */

/* FOUR STARTS */
.four {
    background: black;
    color: white;
    position: relative;
    padding: 70px 45px;
    border-bottom: 8px solid rgb(34, 34, 34);
}
.adventure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:79px ;
    margin-right:79px ;
}
.crt img {
    height: 375px;
}

/* FOUR ENDS */


/* FOOTER ITEMS */
.five-footer {
    background: black;
    color: white;
    position: relative;
}
.footerside{
    margin: 0px 100px;
    padding: 70px 45px;
}

.footer ul li, .questionstitle{
    color: grey;
}
.about {
    margin:30px 0px;
}
.footer{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.footer ul li:hover{
      text-decoration: underline;
      cursor: pointer;
}
.footerlinks {
    list-style-type: none;
    columns: 4;
    padding:0;

 }
 .footerlinks li{
    font-size: 13px;
    margin-bottom: 16px;
    
 }

.language{
    display: flex;
    align-items: center;
    border: 2px solid grey;
    border-radius: 3px;
    width: 13%;
    height: 100%;
    margin-left: 100px;
}
.language >i {
    padding-left: 10px;
}

.eng-drop {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.language select {
    padding: 16px;
    width: 100%;
    border: none;
    appearance: none;
    background: white;
    color: #999;
    outline: none;
    border: none;
    background: black;
    

}
.code-company {
    font-size: 13px;
    color: #999;
    margin-left: 100px;
    margin-top: 20px;
}

.test{
    display: none;
}